.centerHeader {
    text-align: center;
    color: #6D2F22;
}

.centerBody {
    text-align: center;
    color: #6E22E5;
    padding-bottom: 30%;
}

.centerFooter {
    text-align: center;
    color: #00FFE4;
}

ul {
    text-align: center;
    list-style-position: inside
}
